<header class="header">
    <nav class="header__toolbar">
            <div class="header__logo">
                <img class="header__logo-image" src="../../../assets/svgs/ficha-poker-pragma.svg" alt="Logo Poker Pragma" />
            </div>
            <h1 class="header__game-name">
                <span class="header__game-name-text">{{ gameService.nameGame || 'ewhfwjgefwygefjwgyf' }}</span>
            </h1>
            <div class="header__user">
                <p class="header__user-acronym">{{ getAcronyNameUser() }}</p>
                <button class="header__invite-button">Invitar jugadores</button>
            </div>
    </nav>
</header>